.wrapper {
  margin: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label {
  font-weight: 500;
}

.period {
  font-size: 8px;
}
